html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100%;
}

.wrapper.wrapper-without-header {
    padding-top: 0;
}

.footer {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 11px;
    color: #999;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #323940;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.sub-footer {
    background-color: #2e353c;
    padding: 20px 0;
}

.sub-footer a {
    color: #999;
}

.footer-page-links {
    padding: 10px 0;
}

.footer-page-links ul {
    padding-bottom: 10px;
}

.footer-page-links:after {
    position: absolute;
    content: "";
    width: 200px;
    background-color: #777;
    height: 1px;
    left: 0;
    right: 0;
    margin: auto;
}

.footer-page-links li {
    display: inline-block;
    padding: 0 10px;
}


.social-links {
    padding: 40px 0 40px 0;
    margin: 0;
}

.social-links li {
    list-style: none;
    display: inline-block;
}

.social-links a {
    padding: 14px 10px 9px 10px;
    border: 1px solid #fff;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    margin: 3px;
}

.social-links a i {
    width: 20px;
    font-size: 15px;
    color: #fff;
}

.social-links a:hover {
    background-color: #fff;
}

.social-links a:hover i {
    color: #b71d22;
}

/*Back to Top button*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: rgba(0, 0, 0, 0.4);
}
#back-to-top.show {
    opacity: 1;
}

/*Contact us button*/
#contact-us {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    text-align: center;
    line-height: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0 10px;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#contact-us:hover {
    background: #b71d22;
}
#contact-us.show {
}

.link,
.link:hover,
.link:focus {
    color: #b71d22;
}

button {
    border: 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.btn {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 22px;
    line-height: 22px;
}

.btn-small {
    padding: 2px 5px;
    text-transform: none;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
}

.btn:focus,
button {
    /*outline: none !important;*/
}

.btn,
.btn:hover,
.btn:focus {
    color: #fff;
}

.circle-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.btn-default {
    background: #ddd;
    color: #333;
}

.btn-default:hover,
.btn-default:focus {
    background: #ccc;
    color: #333;
}

.with-shadow {
    -webkit-box-shadow: 0 3px 15px #000000 !important;
    box-shadow: 0 3px 15px #000000 !important;
}

.primary-btn {
    background-color: #b71d22;
}

.primary-btn:hover {
    background-color: #b70006;
}

.secondary-btn {
    background-color: #ef8b29;
}

.secondary-btn:hover {
    background-color: #ef7700;
}

.large-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.small-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.main-topic, .sub-topic {
    font-family: 'Raleway', sans-serif;
}

.large-text {
    font-size: 20px;
    line-height: 0;
}

.bold-font {
    font-weight: bold;
}

.small-text {
    font-size: 14px;
}

.main-text {
    font-weight: 400;
    color: #637381;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
}

.sub-text {
    font-size: 16px;
    color: #666666;
    line-height: 25px;
}

.white {
    color: #fff;
}

.gray {
    color: #999;
}

.main-theme-color {
    color: #b71d22;
}

.red-theme {
    background-color: #b71d22;
}

.orange-theme {
    background-color: #ef8b29;
}

.green-theme {
    background-color: #739c06;
}

.uppercase {
    text-transform: uppercase;
}

.italic-font {
    font-style: italic;
}

.text-with-shadow {
    text-shadow: 0 3px 15px #000000;
}

.step-number {
    padding: 5px 16px;
    text-align: center;
    margin-right: 25px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #c5161d;
    color: #fff;
    font-size: 25px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.free-trial-register-section.guides-back {
    background-color: #ea1d24;
    background-image: url("../images/user-guide/guide-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.free-trial-register-section.guides-back__clover {
    background-color: #43b02a;
    background-image: url("../images/videos/clover-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.free-trial-register-section.guides-back__poynt {
    background-color: #375270;
    background-image: url("../images/partners/poynt-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.free-trial-register-section__background-overlay {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    padding: 30px 0 60px 0;
}

.free-trial-register-section .main-topic {
    font-size: 50px;
}

.free-trial-register-section__email {
    position: relative;
    padding: 20px;
}

.free-trial-register-section .email-input-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.free-trial-register-section .email-input-field input[type='email'] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
    height: 54px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}

.free-trial-register-section .email-input-field .btn {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    float: left;
    padding: 15px 20px;
}

.free-trial-register-section__logo {
    text-align: center;
}

.free-trial-register-section__logo img {
    width: 45%;
}

.page-section {
    padding: 40px 0;
}

.page-shading-card {
    position: relative;
    background-color: #fff;
    padding: 40px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 50px 5px rgba(0,0,0,.15);
    box-shadow: 0 0 50px 5px rgba(0,0,0,.15);
}

.page-shading-card__text-area {
    padding-left: 46px;
    margin-left: 21px;
    padding-top: 5px;
    padding-bottom: 25px;
    border-left: 2px dashed rgb(165, 165, 165);
}

.page-shading-card__text-area.list-end {
    border-left: 0;
}

.website-guides__detail-card {
    margin-top: 15px;
}

.page-section__option-list {
    font-size: 16px;
    margin: 15px 0;
    padding-left: 25px;
    position: relative;
}

.page-section__option-list li {
    line-height: 35px;
    list-style: none;
}

.page-section__option-list.list li::before {
    font-family: FontAwesome;
    content: "\f0a3";
    color: #b71d22;
    font-size: 13px;
    position: absolute;
    left: 0;
}

.page-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 50px 20px 20px 20px;
    margin-top: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    min-height: 115px;
}

.page-card-ribbon {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 5px 20px;
    color: #fff;
    background-color: #929292;
    font-style: italic;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.page-tab-section {
    margin-top: -120px;
}

.page-tab-section a {
    color: #a5a5a5;
}

.page-tab-section a:hover,
.page-tab-section a:focus,
.page-tab-section a.active {
    color: #c5161d;
    text-decoration: none;
}

.page-tab-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    /*border-bottom: 4px solid #000;*/
    border-bottom: 4px solid transparent;
    padding: 20px 20px 5px 20px;
    margin-top: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    min-height: 115px;
    margin-bottom: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-tab-section a.active .page-tab-card {
    border-bottom: 4px solid #b71d22;
    -webkit-box-shadow: 0 2px 15px rgba(0,0,0,.2);
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
}

.page-tab-card:hover {
    border-bottom: 4px solid #b71d22;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

.page-tab-card img {
    padding-bottom: 10px;
    position: relative;
    z-index: 20;
}

.page-tab-card .main-topic {
    position: relative;
    z-index: 20;
}

/*.page-tab-card:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*opacity: 1;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(0, 0, 0, 0.25);*/
/*}*/

/*.page-tab-card:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*opacity: 1;*/
    /*top: 50%;*/
    /*width: 100%;*/
    /*height: 50%;*/
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgb(0, 0, 0));*/
    /*background: -o-linear-gradient(bottom, rgba(255,255,255,0), rgb(0, 0, 0));*/
    /*background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgb(0, 0, 0));*/
    /*background: linear-gradient(to bottom, rgba(255,255,255,0), rgb(0, 0, 0));*/
/*}*/

/*.page-tab-card.reseller-guide-tab {*/
    /*background-image: url("../images/user-guide/reseller-back.jpg");*/
/*}*/

/*.page-tab-card.sales-agent-guide-tab {*/
    /*background-image: url("../images/user-guide/sales-agent-back.jpg");*/
/*}*/

/*.page-tab-card.merchant-onboarding-tab {*/
    /*background-image: url("../images/user-guide/merchant-onboard.jpg");*/
/*}*/

.page-note-area {
    background-color: rgba(255, 210, 211, 0.35);
    padding: 10px;
    color: #b71d22;
    font-size: 14px;
    border: 1px solid #b71d22;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 30px;
}

.page-note-area .fa-circle {
    color: #b71d22;
}

.page-note-area .input-group-addon {
    background-color: transparent;
    border-color: transparent;
    padding: 0 8px 0 0;
}

.page-note-area__text {
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
}

.page-note-area.important {
    background-color: rgba(250, 163, 27, 0.1);
    color: #e48b00;
    border: 1px solid #faa31b;
}

.page-note-area.important .fa-circle {
    color: #e48b00;
}

@media screen and (max-width: 769px) {
    .page-shading-card {
        padding: 20px;
    }

    .page-shading-card h2.main-topic {
        font-size: 18px;
    }

    .step-number {
        float: left;
        padding: 5px 13px;
        margin-right: 5px;
    }

    .page-shading-card__text-area {
        padding-left: 20px;
    }
}
